/*
    HTML과 마찬가지로, CCS도 모든 속성을 기억할 필요는 없다. 속성을 어떻게 작성하는지 알고,
    어떤 속성들이 있는지만 대략 안다면 구글링해서 사용하면 된다. 
*/

/* CSS를 HTML페이지에 적용하는 방법 */
/*
    1. 같은 HTML파일에 HTML코드와 CSS코드를 놓는다. (style태그)
    2. CSS와 HTML을 분리시킨다. (대부분의 사람들이 추천하고 전문적인 방법)
*/
body {
    background-color:beige;
}
/* CSS는 위에서부터 아래로 읽히고, 만약 똑같은 태그와 속성을 지목한다면 결국 적용되는건 가장 마지막 코드이다. */

/* box개념 */
div {
    height: 150px;
    width: 150px;
    background-color: tomato;
}    
